<div class="footer">
  <div class="wrapper">
    <div class="footer-col footer-col1">
      <ul class="contato">
        <li>Contato:</li>
        <li><a href="mailto:filipemosca@canalionico.com.br"><i class="fas fa-envelope"></i> filipemosca@canalionico.com.br</a></li>
      </ul>
    </div>
    <div class="footer-col footer-col2">
      <ul class="menu">
          <li><a href="https://www.facebook.com/Canalionico/" target="_blank"><i class="fab fa-facebook"></i> canalionico</a></li>
          <li><a href="https://twitter.com/moscafilipe" target="_blank"><i class="fab fa-twitter"></i> moscafilipe</a></li>
          <li><a href="https://github.com/filipemosca" target="_blank"><i class="fab fa-github"></i> filipemosca</a></li>
      </ul>
    </div>
    <div class="footer-col footer-col3">
      <p id="creditos">Template desenvolvido por mim mesmo com uma "leve" inspiração no tema minima do jekyll</p>
      <p class="love"><i class="fas fa-code"></i> com<i class="fa fa-heart"></i>por Filipe Mosca</p>
    </div>
  </div>
</div>
