{% extends 'partials/base.html.twig' %}

{% block content %}
  <h2>Arquivo do site</h2>
  <div class="arquivo-list">
    <ol reversed>
      {% for page in page.find('/blog').children.order('date', 'desc').slice(0, 5) %}
        <li>
          <h2><a href="{{ page.url }}">{{ page.title }} <i class="fa fa-calendar-alt"></i> {{ page.date|date('d') }} de {{ 'MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1) }}</a></h2>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
